# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives**

#### Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

----

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| Spyder               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers

result = (3*4)+5
print(result)

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Reema